<template name="memories">

  <div class="container-nresponsive">
    <section>
      <h2 class="page-header">{{PageName}}</h2>
      <a href="/admin/add-memory" >Add New</a>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>UserID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            {{#each memory_list}}
              <tr>
                <td><a href="{{pathFor 'memory.show'}}">{{user}}</a></td>
                  <td>{{name}}</td>
                <td>{{description}}</td>
                <td>
                    <a class="btn btn-default delete" role="button">
                      <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </a>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </section>
  </div>
</template>
