template(name="footer")
    div.wrapper(class=isSimple)
        div.container-nresponsive.mega-footer
            div.row
                dl.col-md-2
                    dt Tasting Notes
                dl.col-md-2
                    dt My Cellar
                dl.col-md-2
                    dt Hedonist's Gazette
                dl.col-md-2
                    dt TWA Articles
                    dd TWA Article
                    dd eRobert Parker
                    dd Phone Book
                    dd In Asia
                dl.col-md-2
                    dt Blogs & Videos
                    dd Blogs Archive
                    dd Video Archive
                ul.social-media.col-md-2
                    li
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-facebook.fa-stack-1x
                    li
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-linkedin.fa-stack-1x
                    li
                        span.fa-stack.fa-lg
                            i.fa.fa-square-o.fa-stack-2x
                            i.fa.fa-twitter.fa-stack-1x
            div.row
                dl.col-md-2
                    dt Resources
                    dd Vintage Chart
                    dd Icon Wines
                    dd Wine Submission
                    dd Trade Directory
                    dd Wine News
                    dd Matter of Taste
                    dd Editorial Calendar
                    dd Glossary Terms
                    dd Useful Links
                    dd Articles of Merit
                dl.col-md-2
                    dt About Us
                    dd About Robert Parker
                    dd Reviewers
                    dd Writer's Ethics
                    dd TWA Rating System
                dl.col-md-2
                    dt Support
                    dd Tutorials
                    dd FAQ
                    dd Contact Us
                dl.col-md-2
                    dt Join Us
                    dd Membership Benefits
                    dd Personal Subscription
                    dd Commercial Subscription
                dl.col-md-2
                    dt Bulletin Board
            hr
        div.container-nresponsive
            div.row
                div.col-md-6 Copyright 2001-2015 The Wine Advocate, Inc
                div.col-md-6.text-right Terms and Conditions
